html, body {
    overflow-x: hidden;
}

.div-only-mobile {
    display: none;
}
.div-no-mobile {
    display: block;
}

@media screen and (max-width: 769px) {

.div-no-mobile {
    display:none
}

.div-only-mobile {
    display: block;
}

}

ul {
    list-style: none;
}
